<app-content>
  <br>
  <br>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="row">
        <label for="">รหัส</label>
        <input type="text" class="form-control" formControlName="riceId">
  
  
      </div>
      <div class="row">
        <label for="">ชื่อ</label>
        <input type="text" class="form-control" formControlName="riceName">
  
      </div>
      <div class="row">
        <label for="">ราคา</label>
        <input type="text" class="form-control" formControlName="ricePrice">
      </div>
  
  
      <div class="row">
        <label for="">จำนวน</label>
        <input type="texe" class="form-control" formControlName="riceNumber">
  
      </div>

      <div class="row">
          <label for="">รหัสประเภท</label>
          <input type="text" class="form-control" formControlName="categoryId">
    
        </div>  
      
  
  
      <button type="submit" class="btn btn-primary">เพิ่ม</button>
    </form>
  </app-content>